html {
    font-size: 87.5%;
}
.mypage__wrapper {
    width: 90vw;
}

.mypage__wrapper__inner {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.mypage__inner--left {
    width: 40%;
}

.mypage__inner--right {
    width: 55%;
}

.mypage__inner--left,
.mypage__inner--right {
    display: flex;
    flex-direction: column;
}


.mypage__inner--title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10vh;
}

.mypage__title {
    font-size: 20px;
    line-height: 1em;
}

.mypage__name {
    font-size: 24px;
    line-height: 1em;
}

.mypage-wrapper__main {
    display: flex;
    justify-content: space-between;
}

/* 予約 */
.booking__card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #3560F6;
    padding: 15px 20px 25px 20px;
    margin-top: 10px;
}

.booking__card:nth-of-type(n+2) {
    margin-top: 20px;
}

.booking__card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.booking__card--header i {
    width: 10%;
}

.booking__card--header p {
    width: 75%;
    height: auto;
    text-align: left;
    padding: 10px, 0px, 5px, 10px;
}

.booking__card--table {
    color: #fff;
    text-align: left;
    line-height: 2em;
}

.booking__card--table th {
    width: 30%;
}

.booking__card--table td {
    width: 70%;
}

.booking__card--submit {
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.booking__card--submit:hover {
    opacity: 0.8;
}

/* お店カード */
.bookmark__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.shops__card {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    margin-top: 10px;
}

.shops__card:nth-of-type(n+3) {
    margin-top: 20px;
}

.shops__card--img {
    margin: 0;
}

.shops__card--img img{
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.shops__card--unit {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.shops__card--title {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.shops__card--tags {
    font-size: clamp(0.9rem, 1rem, 1.2rem);
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.shops__card--tags a {
    color: #000;
    text-decoration: none;
}
.shops__card--tags a:hover {
    opacity: 0.8;
}

.shops__card--footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.shops__card--more {
    background-color: #3560F6;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    font-size: clamp(1rem, 1.7vw, 1.1rem);
}

.shops__card--more:hover {
    opacity: 0.8;
}

.shops__card--bookmark {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.shops__card--bookmark:hover {
    opacity: 0.8;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .mypage__inner--left {
        width: 50%;
    }
    .mypage__inner--right{
        width: 45%;
    }
    .booking__card--header p {
        width: 65%;
    }
    .shops__card {
        width: 100%;
    }
    .shops__card:nth-of-type(n+2) {
        margin-top: 15px;
    }
    .shops__card--more {
        padding: 5px 10px;
    }
    i.fa-heart {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 375px) {
    .mypage__wrapper__inner {
        flex-direction: column;
    }
    .mypage__inner--left {
        width: 100%;
    }
    .mypage__inner--right {
        width: 100%;
        padding-top: 80px;
    }
    .booking__card--table {
        line-height: 1.2em;
    }
    .booking__card {
        padding: 10px 20px 15px 20px;
    }
    .shops__card {
        width: 100%;
    }
    .shops__card--more {
        padding: 5px 5px;
    }
}