html {
    font-size: 87.5%;
}
.mypage__wrapper {
    width: 90vw;
    margin-top: 4rem;
}

.mypage__wrapper__inner {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.mypage__inner--left {
    width: 40%;
}

.mypage__inner--right {
    width: 55%;
}

.mypage__inner--left,
.mypage__inner--right {
    display: flex;
    flex-direction: column;
}


.mypage__inner--title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 10rem;
}

.mypage__title {
    font-size: 2rem;
    line-height: 1em;
}

.mypage__name {
    font-size: 2.4em;
    line-height: 1em;
}

.mypage-wrapper__main {
    display: flex;
    justify-content: space-between;
}

/* 予約 */
.booking__card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #3560F6;
    padding: 1.5rem 2rem 2.5rem 2rem;
    margin-top: 1rem;
}

.booking__card:nth-of-type(n+2) {
    margin-top: 2rem;
}

.booking__card--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.4em;
}

.booking__card--header i {
    width: 10%;
}

.booking__card--header p {
    width: 75%;
    height: auto;
    text-align: left;
    padding: 1rem, 0px, 0.5rem, 1rem;
}

.booking__card--table {
    color: #fff;
    text-align: left;
    line-height: 2em;
    font-size: 1.4em;
}

.booking__card--table th {
    width: 30%;
}

.booking__card--table td {
    width: 70%;
}

.booking__card--submit {
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}

.booking__card--submit:hover {
    opacity: 0.8;
}

/* お店カード */
.bookmark__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.shops__card {
    width: 47%;
}

.shops__card:nth-of-type(n+3) {
    margin-top: 2rem;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .mypage__inner--left {
        width: 50%;
    }
    .mypage__inner--right{
        width: 45%;
    }
    .booking__card--header p {
        width: 65%;
    }
    .shops__card:nth-of-type(n+2) {
        margin-top: 1.5rem;
    }
    .shops__card {
        width: 100%;
    }
}

@media screen and (max-width: 430px) {
    .mypage__wrapper__inner {
        flex-direction: column;
    }
    .mypage__inner--left {
        width: 100%;
    }
    .mypage__inner--right {
        width: 100%;
        padding-top: 3rem;
    }
    .booking__card--table {
        line-height: 1.2em;
    }
    .booking__card {
        padding: 1rem 2rem 1.5rem 2rem;
    }
    .mypage__name {
        display: none;
    }
}