.shop-detail__wrapper {
    width: 90vw;
    display: flex;
    justify-content: space-between;
}

.shop-detail__block--left,
.shop-detail__block--right {
    width: 47%;
    display: flex;
    flex-direction: column;
}

/* お店の詳細 */
.shop-detail__block img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.shop-detail__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px;
    margin: 0;
}

.shop-detail--back {
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.shop-name {
    font-size: 24px;
}

.shop-tags {
    display: flex;
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    line-height: 2.5em;
}

.shop-tags a{
    margin-right: 5px;
    color: #000;
    text-decoration: none;
}

.shop-detail__description {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-detail__block--left {
        width: 40%
    }
    .shop-detail__block--right {
        width: 55%;
    }
    .booking-date {
        width: auto;
    }
    .booking-confirm__box th,
    .booking-confirm__box td {
        display: block;
        width: 100%;
    }
    .booking-confirm__box td {
        text-align: end;
    }
    .booking__box--footer {
        position: unset;
    }
}

@media screen and (max-width: 375px) {
    .shop-detail__wrapper {
        flex-direction: column;
    }
    .shop-detail__block--left,
    .shop-detail__block--right {
        width: 100%;
    }
    .shop-detail__block--left {
        margin-bottom: 25px;
    }
    .booking-confirm__box tr {
        display: flex;
    }
}