.shop-detail__wrapper {
    width: 90vw;
    margin: auto;
    margin-top: 4rem;
}

.shop-detail__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.shop-detail__block--left {
    width: 47%;
    display: flex;
    flex-direction: column;
}

.shop-detail__block--right {
    width: 40%;
    position: fixed;
    right: 5vw;
    /* max-height: calc(100vh - 8rem); */
    overflow-y: auto;
}

/* お店の詳細 */
.shop-detail__detail {
    width: 100%;
}

.shop-detail__img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.shop-detail__title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 0px;
    margin: 0;
}

.shop-detail--back {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-align: center;
}

.shop-name {
    margin: 0;
    font-size: 2.4em;
}

.shop-tags {
    display: flex;
    font-size: 1rem;
    line-height: 2.5rem;
}

.shop-tags a{
    margin-right: 0.5rem;
    color: #000;
    text-decoration: none;
}

.shop-detail__description {
    font-size: 1.2em;
}

/* 口コミ投稿・閲覧 */
.review__wrapper {
    display: flex;
    flex-direction: column;
    width: 47%;
}

.review--post-link {
    color: #000;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.review--post-link:hover {
    opacity: 0.8;
}

.review__content__inner {
    display: none;
}

#reviews:checked~.review__content__inner {
    display: block;
}

.review__content--button {
    width: 100%;
    background-color: #3560F6;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
}

.review__content__unit {
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: 1px solid;
}

.review__content__unit:first-of-type {
    border: none;
}

.review__content--links {
    display: flex;
    justify-content: flex-end;
}

.review__content__layout {
    display: flex;
    flex-direction: column;
}

.review__content--rating {
    margin-bottom: 1rem;
}

.review__content--comment {
    font-size: 1.2em;
}

.review__content--comment p {
    white-space: pre-wrap;
    margin: 0;
}

.review__content--image {
    display: block;
    width: 100%;
    height: auto;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-detail__block--left {
        width: 40%
    }
    .shop-detail__block--right {
        width: 55%;
        position: static;
    }

    .booking-date {
        width: auto;
    }
    .booking-confirm__box th,
    .booking-confirm__box td {
        display: block;
        width: 100%;
    }
    .booking-confirm__box td {
        text-align: end;
    }
    .booking__box--footer {
        position: unset;
    }

    /* レビュー */
    .review__wrapper {
        width: 100%;
    }
    .review__content__unit {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .review__content--image {
        width: 100%;
        height: auto;
        object-fit: scale-down;
    }
    .review__content__layout {
        margin: 0;
    }
}

@media screen and (max-width: 430px) {
    .shop-detail__wrapper {
        flex-direction: column;
    }
    .shop-detail__inner {
        flex-direction: column;
    }
    .shop-detail__block--left,
    .shop-detail__block--right {
        width: 100%;
    }
    .shop-detail__block--left {
        margin-bottom: 1rem;
    }
    .booking-confirm__box tr {
        display: flex;
    }
}