
/* 検索機能 */
.shop-search__form {
    width: 520px;
}

.shop-search__box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.shop-search__unit {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.shop-search--select {
    border: none;
    font-size: 14px;
    color: #444;
    padding: 4px;
    cursor: pointer;
    width: 18%;
}

.shop-search--icon {
    border: none;
    background: transparent;
    padding: 4px;
    display: flex;
    align-items: center;
    color: #666;
}

.shop-search--input {
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 4px;
    flex: 1;
}

.shop-search--input::placeholder {
    color: #999;
}

.shop-search--input:focus {
    outline: none;
}

.shop-search--select:focus {
    outline: none;
}

/* お店一覧 */
.shops__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
    margin-top: 4rem;
}

.shops__wrapper::before {
    content: "";
        display: block;
        width: 23%;
        order: 1;
    }

.shops__wrapper::after {
    content: "";
    display: block;
    width: 23%;
}


/* お店カード */
.shops__card {
    width: 24%;
}

.shops__card:nth-of-type(n+5) {
    margin-top: 1.5rem;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-search__form {
        width: 60%;
    }
    .shops__wrapper::before {
        width: 48%;
    }
    .shops__wrapper::after {
        width: 48%;
    }
    .shops__card {
        width: 48%;
    }
    .shops__card:nth-of-type(n+4) {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 430px) {
    .shops__wrapper {
        margin-top: 7rem;
    }

    .shops__wrapper::before {
        width: 100%;
    }
    .shops__wrapper::after {
        width: 100%;
    }
    /* 検索フォーム */
    .shop-search__form {
        width: 100%;
    }
    .shop-search__box {
        margin-bottom: 0.5rem;
    }
}