html {
    font-size: 87.5%;
}

/* 検索機能 */
.shop-search__form {
    width: 50%;
}

.shop-search__box {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
}

.shop-search--select {
    width: 22%;
    border: none;
    font-size: 16px;
}

.shop-search--text {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 50%;
}

.shop-search--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.shop-search--input {
    border: none;
    line-height: 2em;
    font-size: 16px;
    width: 80%;
}

.shop-search--input:focus {
    outline: none;
}

.shop-search--select:focus {
    outline: none;
}

/* お店一覧 */
.shops__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
}

.shops__wrapper::before {
    content: "";
        display: block;
        width: 23%;
        order: 1;
    }

.shops__wrapper::after {
    content: "";
    display: block;
    width: 23%;
}


/* お店カード */
.shops__card {
    width: 24%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    margin-top: 10px;
}

.shops__card:nth-of-type(n+5) {
    margin-top: 15px;
}

.shops__card--img {
    margin: 0;
}

.shops__card--img img{
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.shops__card--unit {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.shops__card--title {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.shops__card--tags {
    font-size: clamp(0.9rem, 1rem, 1.2rem);
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.shops__card--tags a {
    color: #000;
    text-decoration: none;
}
.shops__card--tags a:hover {
    opacity: 0.8;
}

.shops__card--footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.shops__card--more {
    background-color: #3560F6;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    font-size: clamp(0.7rem, 1.7vw, 1.1rem);
}

.shops__card--more:hover {
    opacity: 0.8;
}

.shops__card--bookmark {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.shops__card--bookmark:hover {
    opacity: 0.8;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-search__form {
        width: 70%;
    }
    .shops__wrapper::before {
        width: 32%;
    }
    .shops__wrapper::after {
        width: 32%;
    }
    .shops__card {
        width: 32%;
    }
    .shops__card:nth-of-type(n+4) {
        margin-top: 15px;
    }
    .shops__card--more {
        padding: 5px 10px;
    }
    i.fa-heart {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 375px) {
    .shop-search__form {
        width: 90%;
    }
    .shops__wrapper::before {
        width: 48%;
    }

    .shops__wrapper::after {
        width: 48%;
    }
    .shops__card {
        width: 48%;
    }
    .shops__card:nth-of-type(n+3) {
        margin-top: 15px;
    }
    .shops__card--more {
        padding: 5px 5px;
    }
    i.fa-heart {
        font-size: 1.5em;
    }
}