/* お店カード */
.shops__card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    margin-top: 1rem;
}

.shops__card--img {
    margin: 0;
}

.shops__card--img img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.shops__card--unit {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.shops__card--title {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
}

.shops__card--rating {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 1em;
}

.shops__card--tags {
    font-size: 1em;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.shops__card--tags a {
    color: #000;
    text-decoration: none;
}

.shops__card--tags a:hover {
    opacity: 0.8;
}

.shops__card--footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.shops__card--bookmark {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.shops__card--bookmark:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .shops__card--unit {
        padding: 1.2rem;
    }
    .shops__card--more {
        padding: 0.5rem 1rem;
    }
    i.fa-heart {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 430px) {
    .shops__card {
        width: 100%;
        flex-direction: row;
        overflow: hidden;
    }
    .shops__card--img {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .shops__card--img img{
        height: 100%;
        object-fit: cover;
        border-radius: 5px 0px 0px 5px;
    }
    .shops__card--unit {
        flex: 1;
        /* 残りのスペースを占有 */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
    }
    .shops__card:nth-of-type(n+3) {
        margin-top: 1.5rem;
    }
    .shops__card--title {
        font-size: 1.4em;
    }
    .shops__card--more {
        padding: 0.5rem;
    }
    i.fa-heart {
        font-size: 1.5em;
    }
}