/* 認証ページ */
.verify {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding: 3rem 2rem;
    @media screen and (max-width: 768px) {
        width: 70%;
    }
    @media screen and (max-width: 430px) {
        width: 90%;
    }
}

.verify__item {
    padding: 1.5rem;
}

.verify__item--title {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
}

.verify__item--button {
    background-color: #3560F6;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    font-size: 1.6em;
}

.verify--button:hover {
    opacity: 0.8;
}

.verify__item--message {
    color: #FF9494;
    margin: 0;
}